<!DOCTYPE html>
<!--https://stackoverflow.com/questions/8796107/how-to-make-changeable-themes-using-css-and-javascript-->
<!-- https://www.youtube.com/watch?v=nvsFKcICrbQ -->
<!-- https://learn.jquery.com/jquery-ui/getting-started/ -->
<!-- https://www.youtube.com/watch?v=2-8N4NKPrJM -->
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="C:\Users\Gema Pratama Aditya\Desktop\Story 5 PPW\Story5PPW\Lab5PPW\static\themes\start\jquery-ui.min.css">
  <!--<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">-->
  <!--<script src="{% static "js/bootstrap.min.js" %}"></script>-->
  <!--<script src="{% static "js/jquery.js" %}"></script>-->

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ubah Tema<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Merah</a></li>
          <li><a href="#">Hijau</a></li>
        </ul>
      </li>
      <li><a href="#">Profil</a></li>
    </ul>
  </div>
</nav>

</body>
<body>
<h1><center>Hello, apa kabar?</center></h1>
<h3><center> Masukkan statusmu di sini ...</center></h3>
<div>
    <form action="" method="post" class="status" >
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
        </div>
        {% endfor %}
    <input type="submit" value="Submit">
    </form>
</div>
<br>
<br>
<a href="profile.html"><h1>Klik di sini untuk ke profil...</h1></a>
<h2>List status yang sudah ada: </h2>
<br><br>
    {% for i in list_of_status %}
        <h4>{{ i.status }} : {{ i.time }}</h4>  <br />
        </div>
    {% endfor %}
</body>
</html>
