{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">  
    <link rel="stylesheet" href="{% static "css/stylelab9.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <title>REKOMENDASI BUKU-NOVEMBER</title>
</head>

<body background="https://cdn78.picsart.com/185486539003201.jpg?r1024x1024">
  <h2>
    <center>
        Selamat datang di daftar rekomendasi buku untuk bulan November yang
        ceria ini! Silakan eksplorasi buku-buku yang anda inginkan. </br>
        <h3>
            <i style="font-family:'Times New Roman', Times, serif">A book is a dream that you hold in your hands." ~ Unknown</i>
        </h3>
      </br></br></br>
	   <h1><center><a href="/lab6/login">Login</a></center></h1>
    </center>
  </h2>
    <h1><center>Daftar rekomendasi buku</center></h1>
</br></br>
    <div class="favsection">
        
        Jumlah buku difavoritkan:
        <span id="numOfFavBooks">0</span>
    </div>
    <center><h3><a id="program" onclick="jsfunction()" href="#">Program</a></h3></center>
</br>
    <center><h3><a id="development" onclick="jsfunction()" href="#">Development</a></h3></center>
    <div class="table-responsive-sm">
        <table id="daftar_buku" class="table table-dark" align="center">
            <thead class="thead-dark">
                <tr>
                    <th>Judul</th>
                    <th>Deskripsi</th>
                    <th>Author</th>
                    <th>Tanggal terbit</th>
                    <th>Jumlah halaman</th>
                    <th>Kategori</th>
                    <th>Add to favorites?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </br></br></br></br></br></br></br></br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "js/scriptlab9.js" %}"></script>
</body>
</html>
