<!DOCTYPE html>
<!--https://www.youtube.com/watch?v=rJesac0_Ftw-->
<!--https://www.youtube.com/watch?v=AOfSuajwY-I-->
{% load static %}
<html>
  <head>
    <!--<meta name="viewport" content="width=device-width", initial-scale=1"/>-->
    <title>Daftar Rekomendasi Buku</title>
    <link rel="stylesheet" href="{% static "css/stylelab9.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  </head>
</html>

<body background="https://cdn78.picsart.com/185486539003201.jpg?r1024x1024">
  {% csrf_token %}
  <h2>
    <center>
        Selamat datang di daftar rekomendasi buku untuk bulan November yang
        ceria ini! Silakan eksplorasi buku-buku yang anda inginkan. </br>
        <h3>
            <i style="font-family:'Times New Roman', Times, serif">A book is a dream that you hold in your hands." ~ Unknown</i>
        </h3>
    </center>
  </h2>
  
</br></br></br></br>
<h5>Jumlah buku difavoritkan:</h5>
  

  <div id="books-info"></div>

  <table id="excelDataTable" border="1">
  </table>


  <table class="table table-bordered table-striped" id="book_table">
    <tr>
      <th>Judul</th>
      <th>Deskripsi</th>
      <th>Author</th>
      <th>Tanggal terbit</th>
      <th>Jumlah halaman</th>
      <th>Kategori</th>
    </tr>
  </table>


  

  <script src="{% static "js/scriptlab9.js" %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>