<!DOCTYPE html>
{% load static %}
<html>
<head>
<<<<<<< HEAD
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
=======
    <title>FORM BERLANGGANAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/stylelab9.css" %}">
>>>>>>> 50a8fbc4cf935c50a99ffcd61c5d8f1373b9daa5
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="{% static "js/scriptlab10.js" %}"></script>

</head>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<<<<<<< HEAD
    <header>
        {% include "Lab5PPW/partials/navbar.html" %}
    </header>
</html>
<center><strong><h1>Ayo berlangganan ke website saya!</h1></strong></center>
<center><h2>Silakan isi formulir di bawah ini!</h2></center>
<br>
<br>
<br>


=======
  <center>
      <h1 class="text"><a class="text" href="https://www.facebook.com/CF08121998">Facebook</a> |
      <a class="text" href="https://www.instagram.com/gemapratama_a/">Instagram</a> |
      <a class="text" href="https://twitter.com/gemapratama_a?lang=en">Twitter</a> |
      <a href="/lab6"><i><b>Kembali ke Profil..</b></i></a>
    </h1>
</center>


<center><strong><h1>Ayo berlangganan ke website saya!</h1></strong></center>
<center><h2>Silakan isi formulir di bawah ini ...</h2></center>
<br>
<br>
<br> 
>>>>>>> 50a8fbc4cf935c50a99ffcd61c5d8f1373b9daa5
<form method="post" id="FORMID" onsubmit="subscribe()">
  {% csrf_token %}
  <table border="1">
    {{ form.as_p }}
<<<<<<< HEAD
    <br><br>
  </table>
  <input type="submit" id="KIRIMBUTTON" value="Kirim">

  
=======

    <br><br>
  </table>
  <input type="submit" id="KIRIMBUTTON" type="button" class="btn btn-primary" value="Kirim">
  {% csrf_token %}
  {% for i in subscriber_data %}
      <td><center> {{ i.email }} </center></td>
      
  </tr>
  {% endfor %}
>>>>>>> 50a8fbc4cf935c50a99ffcd61c5d8f1373b9daa5
</form>
    
</body>
