<!DOCTYPE html>
<!--https://stackoverflow.com/questions/8796107/how-to-make-changeable-themes-using-css-and-javascript-->
<!-- https://www.youtube.com/watch?v=nvsFKcICrbQ -->
<!-- https://learn.jquery.com/jquery-ui/getting-started/ -->
<!-- https://www.youtube.com/watch?v=2-8N4NKPrJM -->
<!-- https://www.youtube.com/watch?v=hvOqlCha1SQ -->
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}"><!-- DAH JALAN-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script> <!-- DAH JALAN-->
  <script src="{% static "js/jquery-ui.min.js" %}"></script> <!-- DAH JALAN-->
  <script src="{% static "js/jquery.js" %}"></script> <!-- DAH JALAN-->
  <script src="{% static "js/ui.js" %}"></script> <!-- DAH JALAN-->
  

</head>
<body>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ubah Tema<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Merah</a></li>
          <li><a href="#">Hijau</a></li>
        </ul>
      </li>
      <li><a href="#">Profil</a></li>
    </ul>
  </div>
</nav>

<div id="accordion">
  <h3>Section 1</h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
    <ul>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
  </div>
</div>


<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>









</body>
<body>
<h1><center>Hello, apa kabar?</center></h1>
<h3><center> Masukkan statusmu di sini ...</center></h3>
<div>
    <form action="" method="post" class="status" >
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
        </div>
        {% endfor %}
    <input type="submit" value="Submit">
    </form>
</div>
<br>
<br>
<a href="profile.html"><h1>Klik di sini untuk ke profil...</h1></a>
<h2>List status yang sudah ada: </h2>
<br><br>
    {% for i in list_of_status %}
        <h4>{{ i.status }} : {{ i.time }}</h4>  <br />
        </div>
    {% endfor %}
</body>
</html>
