
<a href="/lab6"><h1>Klik di sini untuk kembali ke Home....</h1></a>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<br/>
<br/>
<h1><center>Halo! Selamat datang di website saya</center></h1>
<br/>
<br/>
<img src="http://about.tarung2017.com/foto/517.jpg" class="responsive">
<br/>
<br/>
Past works: <br>
- (not available)
<br><br><br><br><br>
