body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f4e842;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;       /* warna font*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f096; /*warna background buat tab yg lg dihover*/
  color: black;         /* warna font */
}

.active {               /* buat yg lg active*/
  background-color: #d3cf0a;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


{
    box-sizing: border-box;
}
.column {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

figure {
    display: inline-block;
    border: 1px;
    padding-left: 70px;
    padding-right: 70px;
}
figure img {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    align: center
}

figure figcaption {
    border: 1px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #7fa5e2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #b9ccea;
}

.Navbar {
  background-color: #46ACC2;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}




{
    box-sizing: border-box;
}
.column {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

figure {
    display: inline-block;
    border: 1px;
    padding-left: 70px;
    padding-right: 70px;
}
figure img {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    align: center
}

figure figcaption {
    border: 1px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}





input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #7fa5e2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #b9ccea;
}

.Navbar {
  background-color: #46ACC2;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: yellow;
   color: black;
   text-align: center;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

.button {
     background-color: #000000;
     color: #FFFFFF;
     padding: 10px;
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     margin:10px
 }
    
 .small-btn {
     width: 50px;
     height: 25px;
 }
    
 .medium-btn {
     width: 70px;
     height: 30px;
 }
    
 .big-btn {
     width: 90px;
     height: 40px;
 }
