th {
    font-weight : bold
}

.bigstar {
    content: url('https://i.imgur.com/RiQWiom.png');
    width: 40px;
    height: 40px;
    padding-top: 10px;
}

.favbutton {
    background-color: transparent;
    border: none;
}

.favstar {
    content: url('https://i.imgur.com/RiQWiom.png');
    width: 30px;
    height: 30px;
}

.favstar:hover {
    content: url('https://i.imgur.com/ty6nttU.png');
    width: 30px;
    height: 30px;
}