body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(3, 23, 2, 1);
  background: url(http://morganbeverly.me/wp-content/uploads/wallpaper2you-251839-wallpaper-background-dark.jpg)
}

.text {
  color: #FFFFFF;
}

.button {
  background-color: #074434;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.textaccordion {
  color: #000000;
}


