body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(140, 222, 134, 1);
    background: url(https://www.inwhatlanguage.com/wp-content/uploads/2016/09/plain-light-color-for-guest-background.jpg)
}

.text {
	color: #041330;
}

.button {
    background-color: #c8daf7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
