<div class="topnav" id="myTopnav">
<<<<<<< HEAD
  <a href="/home/"><b>HOME</b></a>
  <a href="/portfolio/">WORKS</a>
  <a href="/gallery/">GALLERY</a>
  <a href="/aboutme/">ABOUT ME</a>
  <a href="/contact/">CONTACT</a>
  <a href="/showcase/">SHOWCASE</a>
  <a href="/guestbook/">GUEST BOOK</a>
  <a href="/forms/">FORM KEGIATAN</a>
  <a href="/displayjadwal/">DISPLAY JADWAL</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
=======
    <a href="/lab6"><b>Kembali ke Profil</b></a>
    <a href="/register">Subscribe</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
>>>>>>> 50a8fbc4cf935c50a99ffcd61c5d8f1373b9daa5
